<!DOCTYPE html>
<html>
  <head>
    <title>Aide au déménagement</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'pages/navbar' %>
    <div class="container mt-4">
      <%= render "shared/flashes" %>
      <%= yield %>
    </div>
  </body>

</html>
